/* $red : #840D0B; */

*{
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0; padding: 0;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #1A1D1F;
    overflow: hidden ;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}

header nav{
    width: 50rem;
 
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;

    
}
header nav ul a{

        text-decoration: none;
        color: #ffffff;
         font-size: 15px;
}
header nav ul a:hover{
    background: red;
}

header .logo img{
    height: 7rem;
    border-radius: 50%;
    margin-right: 69px;
    margin-top: 30px;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container .content{
    margin-top: -10rem;
    width: 35%;
}
.container .content h1{
    font-size: 7rem;
    color: #ffffff;
}
.container .content h3{
    font-size: 3rem;
    color: #cccc;
    margin: 1rem 0;
}
.container .content h5{
    color: gold;
    font-size: 1.5rem;
}
button{
    outline: none;
    border: none;
    background: red;
    height: 4rem;
    width: 16rem;
    color: #ffffff;
    border-radius: 5rem;
    margin: 2rem 0;
    cursor: pointer;
}

button:hover{
    opacity: .7;
}

.container .icons a{
    text-decoration: none;
    color: #ffffff;
    font-size: 3rem;
    margin: 1rem;
    cursor: pointer;
}
.container .icons a:hover{
    transform: scale(.8);
}

.container .images{
    margin-top: -10rem;
    width: 40%;
    position: relative;
    margin-bottom: 35px;
}
.container .images img{
    width: 40vw;
    border-radius: 50%;
}

.container .images .plane{
    position: absolute;
    top: -17%;
    right: 4%;
    animation: float 2s linear infinite;
}

@keyframes float {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5rem);
    }
}